@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    -fx-font-family: 'Shadows Into Light', cursive;
}
.button{
    -fx-font-size: 45;
}
#newGame{
    -fx-font-size: 20;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #90bcff, #ffc5c5);
}
